body {
    font-family: "Segoe UI", sans-serif;
    background: #eef3fb;
    margin: 0;
    padding: 40px;
}

.container {
    max-width: 1100px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 16px;
}

h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
    color: #6c7a89;
    margin-bottom: 30px;
}

.upload-box {
    border: 2px dashed #4a90e2;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 15px;
}

button {
    background: #4a90e2;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

hr {
    margin: 30px 0;
}

/* DASHBOARD */
.dashboard {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 25px;
}

.panel {
    background: #f8fbff;
    padding: 20px;
    border-radius: 14px;
}

.nlg-box {
    background: #eef4ff;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0 20px 0;
    line-height: 1.6;
}

.plot-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Responsive */
@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
    }
}
